PORT=5001
MONGODB_URI=mongodb+srv://abhishekyadav271204_db_user:abhisha0227@cluster0.bwvugap.mongodb.net/nx-solutions?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
ADMIN_PASSWORD=admin123
